#### **Download Dataset from Kaggle**

In [1]:
import kagglehub
import os
import pandas as pd
import shutil

In [2]:
# Download latest version

path = kagglehub.dataset_download("yasserh/housing-prices-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (1.0.0).
Path to dataset files: /Users/kiki/.cache/kagglehub/datasets/yasserh/housing-prices-dataset/versions/1

In [3]:
# Display dataset directory path and inspect downloaded files
# This step helps identify the exact CSV filename before loading it into pandas

print("Path:", path)
print("Files inside folder:")
print(os.listdir(path))

Path: /Users/kiki/.cache/kagglehub/datasets/yasserh/housing-prices-dataset/versions/1
Files inside folder:
['Housing.csv']

In [4]:
# Check dataset

file_path = os.path.join(path, "Housing.csv")
df = pd.read_csv(file_path)

df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
# Create data/raw folder inside repository

os.makedirs("data/raw", exist_ok=True)

In [6]:
# Move all files from kagglehub cache to repo folder
for file_name in os.listdir(path):
    source_file = os.path.join(path, file_name)
    destination_file = os.path.join("data/raw", file_name)
    shutil.copy(source_file, destination_file)

print("Dataset successfully saved to data/raw/")

Dataset successfully saved to data/raw/

In [7]:
# Load Dataset

df = pd.read_csv("data/raw/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished